.Headers{
  background: #f7f7f7;
  min-height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 0px;
}
.Headers .headerTopBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Headers .headerTopBar .Logo a img{
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 110px;
}
.Headers .headerTopBar .HeaderTopRight{
  display: flex;
  align-items: center;
  gap: 40px;
}
.Headers .headerTopBar .HeaderTopRight .Topcontct{
  display: flex;
  align-items: center;
  gap: 40px;
}
.Headers .headerTopBar .HeaderTopRight .Topcontct .contact_links{
  display: flex;
  align-items: center;
  gap: 20px;
}
.Headers .headerTopBar .HeaderTopRight .Topcontct .contact_links a{
  color: var(--blue);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  transition: all 0.5s ease;
  &:hover{
    /* transform: scale(1.1); */
    color: #ec264f;
  }
}
.Headers .headerTopBar .HeaderTopRight .Topcontct .social_links{
  display: flex;
  align-items: center;
  gap: 12px;
}
.Headers .headerTopBar .HeaderTopRight .Topcontct .social_links a{
  transition: all 0.5s ease;
  &:hover{
    transform: scale(1.2);
  }
}
.Headers .headerTopBar .HeaderTopRight .header_cta :is( a ,  button ){
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: #ffffff;
  padding: 0px 18px;
  min-height: 48px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
  &:hover{
    /* background-color: var(--golden);
    color: var(--blue);
    border: 1px solid var(--golden); */
    opacity: 0.8;
  }
}

.Headers nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0;
}
.Headers nav li {
  position: relative;
}
.Headers nav li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  color: var(--blue);
  padding: 6px 0;
  position: relative;
  transition: 0.3s;
}
.Headers nav li a:hover {
  color: #ec264f;
}
.Headers nav li a.active {
  color: #ec264f;
  font-weight: 600;
}
.Headers nav li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #ec264f;
}
.Headers .burger {
  display: none;
}
.Headers .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.35s ease-in-out;
}
.Headers .overlay.active {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1024px) {
  .Headers .burger {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
  }
  .Headers .burger_line {
    width: 32px;
    height: 3px;
    background-color: var(--blue);
    display: block;
    transition: 0.3s;
  }
  .Headers .burger.active .burger_line:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .Headers .burger.active .burger_line:nth-child(2) {
    opacity: 0;
  }
  .Headers .burger.active .burger_line:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
  }
  .Headers nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    transform: translateX(-100%);
    transition: 0.3s;
    z-index: 1000;
    overflow-y: auto;
  }
  .Headers nav.active {
    transform: translateX(0);
  }
  .Headers nav ul {
    flex-direction: column;
    gap: 16px;
    padding: 12px 30px;
  }
  .Headers .contact_links,
  .Headers .social_links,
  .Headers .header_cta {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 140px;
  }
}
.Headers .has_sub_menu {
  position: relative;
  padding-right: 32px;
}
.Headers .has_sub_menu::after {
  content: "";
  position: absolute;
  right: 0;
  top: 6px;
  bottom: 0;
  margin: auto;
  background-image: url(https://sudip-bhowmick.github.io/images/img/dropdown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.Headers .sub_menu {
  display: none;
  background-color: var(--blue);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 42px;
  flex-direction: column;
  gap: 0;
  padding: 8px 20px;
  white-space: nowrap;
  border-radius: 0px 0px 8px 8px;
  list-style: none;
  z-index: 2;
}
.Headers .sub_menu li a{
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  &:hover{
    color: #ec264f;
  }
}
.Headers .sub_menu.show {
  display: flex;
}
@media (max-width: 1024px) {
  .Headers .sub_menu {
    position: relative;
    top: 0;
    background-color: transparent;
    display: none;
    flex-direction: column;
    padding: 8px 0 8px 30px;
  }
  .Headers .sub_menu.show {
    display: flex;
  }
}

/* HeaderOffcanvsDiv Started  */
.HeaderOffcanvsDiv{
  background-color: #f7f7f7;
  box-shadow: 0 0 9px -1px rgba(64, 64, 64, .6);
  transition: all 0.35s ease-in-out .35s;
  padding: 20px 10px 50px 10px; 
}
.offcanvas-backdrop{
  transform: translateX(25%);
  transition: all ease-in-out .35s;
}
.offcanvas-backdrop.show{
  opacity: 1 !important;
  visibility: visible;
  transform: translateX(0);
  transition: all ease-in-out .35s;
  background: linear-gradient(90deg, #1b79ab 0, #111111 100%);
}
.HeaderOffcanvsDiv .OffCanvasInner{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0px 0px 0px;
}
.HeaderOffcanvsDiv .OffCanvasInner .OffCanvsTop{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.HeaderOffcanvsDiv .OffCanvasInner .OffCanvsTop h6{
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 14px;
}
.HeaderOffcanvsDiv .OffCanvasInner .OffCanvsTop h2{
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
}
.HeaderOffcanvsDiv .OffCanvasInner .OffCanvsTop p , .HeaderOffcanvsDiv .OffCanvasInner .offMidCont p{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont h3{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 600;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont .socllink{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont .socllink a{
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont .socllink a svg{
  color: #ec264f;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont .Contmail {
  position: relative;
  border: 1px solid #eaeaea;
  background: #ffffff;
  border-radius: 5px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont .Contmail input{
  position: relative;
  min-height: 52px;
  width: 90%;
  border-radius: 5px;
  padding: .375rem .75rem;
  border: none;
  background: #ffffff;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont .Contmail input::placeholder{
  font-weight: 300;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont .Contmail button{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50% , -50%);
  background: transparent !important;
  border: none !important;
  padding: 0px !important;
  color: #ec264f;
}
.HeaderOffcanvsDiv .OffCanvasInner .offMidCont .Contmail input:focus .HeaderOffcanvsDiv .OffCanvasInner .offMidCont .Contmail {
  border: 1px solid #ec264f;
}